@import '../../theme/';

.resetPassword{
    &__container{
        border: $spacing-1 solid $raisin-black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: $spacing-30 auto;
        padding: $spacing-20;
        gap:$spacing-10;
        width: 70%;
    }

    &__inputLabels.MuiFormLabel-root{
        color: $raisin-black;
        font-family: $primary-font;
        font-weight: bold;
        font-size: $spacing-14;
    }

    &__headerTitle.MuiTypography-root{
        font-size: $spacing-20;
        font-family: $primary-font;
        font-weight: bold;
    }
}