// Breakpoints width
$breakpoint-mobile-min: 320px;
$breakpoint-mobile-max: 600px;
$breakpoint-tablet-min: 600px;
$breakpoint-tablet-max: 1024px;
$breakpoint-desktop-min: 1280px;
$breakpoint-desktop-max: 1920px;