@import '../../theme/';

.spinner {
  &__container {
    margin: $spacing-100 auto;
    max-width: fit-content;
  }

  &__imageContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
}
